<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TABLE Type Calendar ONLY HTML</title>
</head>
<link rel="stylesheet" href="../css/calendar_table.css">
<body>
    <table>
        <!-- 연도, 지난달 및 다음달 버튼 -->
        <tr class="month-nav">
            <th colspan="4" class="year-n-month">2021 MAY</th>
            <th class="header-nav">&lt;</th> 
            <!-- html 특수문자 표 확인하기 -->
            <th class="header-nav">T</th>
            <!-- Today 버튼 -->
            <th class="header-nav">&gt;</th>
        </tr>

        <!-- 요일 -->
        <tr id="week">
            <th>일</th>
            <th>월</th>
            <th>화</th>
            <th>수</th>
            <th>목</th>
            <th>금</th>
            <th>토</th>
        </tr>

        <!-- 첫째주 -->
        <tr>
            <td class="date-sunday date-other-month">25</td>
            <td class="date-other-month">26</td>
            <td class="date-other-month">27</td>
            <td class="date-other-month">28</td>
            <td class="date-other-month">29</td>
            <td class="date-other-month">30</td>
            <td class="date-saturday">1</td>
        </tr>

        <!-- 둘째주 -->
        <tr>
            <td class="date-sunday">2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td class="date-saturday">8</td>
        </tr>

        <!-- 셋째주 -->
        <tr>
            <td class="date-sunday">9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>
            <td class="date-saturday">15</td>
        </tr>

        <!-- 넷째주 -->
        <tr>
            <td class="date-sunday">16</td>
            <td>17</td>
            <td>18</td>
            <td>19</td>
            <td>20</td>
            <td>21</td>
            <td class="date-saturday">22</td>
        </tr>

        <!-- 다섯째주 -->
        <tr>
            <td class="date-sunday">23</td>
            <td>24</td>
            <td>25</td>
            <td>26</td>
            <td>27</td>
            <td>28</td>
            <td class="date-saturday">29</td>
        </tr>

        <!-- 여섯째주 -->
        <tr>
            <td class="date-sunday">30</td>
            <td>31</td>
            <td class="date-other-month">1</td>
            <td class="date-other-month">2</td>
            <td class="date-other-month">3</td>
            <td class="date-other-month">4</td>
            <td class="date-saturday date-other-month">5</td>
        </tr>
    </table>
</body>
</html>