<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIV Type Calendar ONLY HTML</title>
</head>
<link rel="stylesheet" href="/Mini_Calendar/02-HTML-and-CSS/css/calendar_div.css">
<body>
    <div class="container">
        <div class="sidebar">
            <div class="today-date">28</div>
            <div class="today-day">FRIDAY</div>
            <div class="current-events">
                <ul>
                    <li>Today daily events detail</li>
                </ul>
            </div>
            <hr class="event-line"/>
            <div class="add-event">
                <input placeholder="이벤트를 등록하세요 :D"/>  
                <i class="btn-add-event">+</i>
            </div>
        </div>
        <!-- End of sidebar class -->

        <div class="header">
            <div class="year-n-month">2021 MAY</div>
            <div class="triangle-left"></div>
            <div class="btn-go-today">Go Today</div>
            <div class="triangle-right"></div>
        </div>
        <!-- End of header class -->

        <div class="days">
            <hr class="month-line"/>
            <div class="days-content">일 월 화 수 목 금 토</div>
        </div>
        <!-- End of days -->

        <div class="calendar">
            <div class="dates">
                <div class="other-month date">25</div>
                <div class="other-month date">26</div>
                <div class="other-month date">27</div>
                <div class="other-month date">28</div>
                <div class="other-month date">29</div>
                <div class="other-month date">30</div>
                <div class="this-month date">1</div>
                <div class="this-month date">2</div>
                <div class="this-month date">3</div>
                <div class="this-month date">4</div>
                <div class="this-month date">5</div>
                <div class="this-month date">6</div>
                <div class="this-month date">7</div>
                <div class="this-month date">8</div>
                <div class="this-month date">9</div>
                <div class="this-month date">10</div>
                <div class="this-month date">11</div>
                <div class="this-month date">12</div>
                <div class="this-month date">13</div>
                <div class="this-month date">14</div>
                <div class="this-month date">15</div>
                <div class="this-month date">16</div>
                <div class="this-month date">17</div>
                <div class="this-month date">18</div>
                <div class="this-month date">19</div>
                <div class="this-month date">20</div>
                <div class="this-month date">21</div>
                <div class="this-month date">22</div>
                <div class="this-month date">23</div>
                <div class="this-month date">24</div>
                <div class="this-month date">25</div>
                <div class="this-month date">26</div>
                <div class="this-month date">27</div>
                <div class="this-month date">28</div>
                <div class="this-month date">29</div>
                <div class="this-month date">30</div>
                <div class="this-month date">31</div>
                <div class="other-month date">1</div>
                <div class="other-month date">2</div>
                <div class="other-month date">3</div>
                <div class="other-month date">4</div>
                <div class="other-month date">5</div>
            </div>
        </div>
        <!-- End of calendar class -->
    </div>
    <!-- End of container class -->
</body>
</html>